{%extends 'base.html' %}

{%block content%}

      <div class="box">
        
            <div class="columns">
                <div class="column is-full has-text-centered">
                    <h1 class="title is-1 has-Te">Users</h1>
                </div>
            </div>
            <form action="{{ request.path }}" method="post">
            <div class="columns is-multiline">
                {% for user in users%} 
          <div class="column is-2 has-text-centered">
            <div class="box">
              <h1 class="title is-2">{{user.name}}</h1>
              <h1 class="subtitle is-5 mb-1">{{user.githubName}}</h1>

              <div class="field">
                <label class="label" for="{{user.id}}">Permission Level: </label>
                <input class="input has-text-centered" type="text" name="{{user.id}}" value="{{user.permissionLevel}}" />
              </div>
              <button class="js-modal-trigger button is-warning" data-target="modal-js-example" type="button" onclick="openModal('{{user.name}}', '{{user.id}}')">
                Remove user 
              </button>
            </div>
          </div> 
          
          {%endfor%}
          <div class="column is-full">
            <input class="button" type="submit"></input> 

            </div>
        </form>
        </div>

      </div> 

      <div id="deleteUserModal" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
          <div class="box">
            <div class="columns has-text-centered">
              <div class="column is-full">
                <h1 class="title">Are you sure you want to remove <br><span id="userToRemove"></span></h1>
                <a class="button is-fullwidth is-danger" data-id="" id="userRemoveButton" href="">Yes</a>
              </div>
            </div>
    
            
          </div>
        </div>
      
        <button class="modal-close is-large" aria-label="close"></button>
      </div>

      <script>
      
          // Functions to open and close a modal
          const openModal = (name, id) => {
            console.log(name);
            document.getElementById("userToRemove").innerHTML = name
            document.getElementById("userRemoveButton").href = "/removeUser?id=" + id
            
            document.getElementById("deleteUserModal").classList.add('is-active');
          }
          
          function closeModal($el) {
            $el.classList.remove('is-active');
          }
        
          function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
              closeModal($modal);
            });
          }
        
          // Add a click event on buttons to open a specific modal
          // (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
          //   const modal = $trigger.dataset.target;
          //   const $target = document.getElementById(modal);
        
          //   $trigger.addEventListener('mousedown', () => {
          //     openModal($target);
          //   });
          // });
        
          // Add a click event on various child elements to close the parent modal
          (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');
        
            $close.addEventListener('click', () => {
              closeModal($target);
            });
          });
        
          // // Add a keyboard event to close all modals
          document.addEventListener('keydown', (event) => {
            const e = event || window.event;
        
            if (e.keyCode === 27) { // Escape key
              closeAllModals();
            }
          });
    
          </script>
{%endblock%}

