
{%extends 'base.html'%}

{%block head%}

{%endblock%}

{% block content%}



<body>

<div class="columns">.
  <div class="column is-10 is-offset-1">
    <div class="box">
        <h1 class="is-1">hello {{data}}</h1>
        <div>
            <canvas id="myChart"></canvas>
          </div> 
           <Button class="button" onclick="getData()">Get Data</Button>
           <Button class="button" onclick="resetZoom()">Reset Zoom</Button>

    </div>
  </div>


</div>


  
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='Graph.js')}}"></script>
{% endblock %}