{%extends 'base.html'%}
    {%block content%}
   <body>

      
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="notification is-danger">
              {{ messages[0] }}
          </div>
      {% endif %}
    {% endwith %}
          
            <div class="box has-text-centered">
                <div class="columns is-mobile">
                    <div class="column">

    
                                <div class="container">
                                    <div class="box">
                                        <a class="button is-danger" href="/app">Scopes</a>

                                    </div>
                                        <div class="box">
                                            <a class="button is-small" href="/currentClient/1"">Pi3</a>
                                            <a class="button is-small" href="/currentClient/2">Pi3 Puff</a>
                                            <a class="button is-small" href="">SliC</a>
                                        </div>
    
                                      </div>
                            
                              
                    </div>
                    <div class="column">
                        <div class="box">
                            <a class="button is-danger" href="/app">Hardware Config</a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <a class="button is-danger " href="/app">Recipies</a>
                        </div>
                    </div>
              
    
                </div>
            </div>

{%endblock%}
      
