{%extends 'base.html'%}
    {%block content%}
   <style>
    .collapsed{
        max-height: 0px; 
        margin-top: 0px;
        overflow: hidden;
        transition: 0.3s max-height ease-in-out;
        transition: 0.3s margin-top ease-out;
    }
    .uncollapsed{
        margin-top: 10px;
        max-height: 1000px;
    }
   </style>
    <body>
    
      <script>
        function expandScopes(){
            const scopes = document.getElementById('scopes')
            if(scopes.classList.contains('uncollapsed')){
                scopes.classList.remove('uncollapsed')
            }
            else{
                scopes.classList.add('uncollapsed')                
            }

        }
      </script>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="notification is-danger">
              {{ messages[0] }}
          </div>
      {% endif %}
    {% endwith %}
          <div class="columns is-centered">
            <div class="column is-10">
                <div class="has-text-centered">
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                                <a class="button is-primary is-large" onclick="expandScopes()">Scopes</a>
                                <div id="scopes" class="collapsed">
                                    <a class="button is-small is-normal" href="/currentClient/1"">Pi3</a>
                                    <a class="button is-small is-normal" href="/currentClient/2">Pi3 Puff</a>
                                    <a class="button is-small is-normal" href="">SliC</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box">
                                <a class="button is-primary is-large" href="/app">Hardware Config</a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box">
                                <a class="button is-primary is-large" href="/app">Recipies</a>
                            </div>
                        </div>
                  
        
                    </div>
                </div>
            </div>
          </div>


{%endblock%}
      
