{%extends 'base.html'%} 
{% block content%} 
<body>
  <div class="columns">. <div class="column is-4 is-offset-4">
      <div class="box">
        <form action="{{ request.path }}" method="post">
          <div class="field">
            <input class="checkbox" type="checkbox" name="isDarkMode" {% if isDarkMode %} checked {% endif %} value="True" />
            <label class="checkbox" for="isDarkMode">Dark mode</label>
          </div>
          <div class="field">
            <label class="label" for="name">Name: </label>
            <input class="input" type="text" name="name" value="{{name}}" />
          </div>
          <div class="field">
            <label class="label" for="email">Email (same as GitHub): </label>
            {%if email == '' %}
              <input class="input is-danger" type="text" placeholder="Enter same email used on GitHub with GF Org" name="email" value="{{email}}" />
              <p class="help is-danger">No Email Found</p>

                {%else%}
            <input class="input" type="text" name="email" value="{{email}}" />
            {%endif%}
          </div>
          <input class="button" type="submit" />
        </form>
      </div> 
      <div class="box">
        <a class="button is-black is-fullwidth" href="/adminPage">Admin Page</a>
      </div>
    </div>
  </div>
</body> 
{% endblock %}